{% extends 'base.html' %}
{% block title %}{{article.title}}{% endblock title %} 

{% block content %}
<div class="article-detail">
    <div class="article-detail-buttons">
        {% if article.author == user %}
            <a href="{% url 'article_edit' article.id %}" class="card-link">Edit</a>
        {% endif %}
        <div class="title-author">
            <h1>{{article.title}}</h1>
            <p>{{article.category}}</p>
            <p class="date">-{{article.created_on}}</p>
            <p class="author">-{{article.author}}</p>
        </div>
        {% if article.author == user %}
            <a href="{% url 'article_delete' article.id %}" class="card-link" style="color: red;">Delete</a>
        {% endif %}
    </div>
    <p>{{article.body}}</p>
</div>
{% endblock content %}