{% extends 'base.html' %}
{% block title %}Articles{% endblock title %} 

{% block content %} 
    <div class="article-list">
        <h1><a href="{% url 'front_page' %}">Front Page</a></h1>
        <div class="article-list-section">
            {% for article in article_list %}
                {% if article.category == 'Front-Page' %}
                    <div class="card">
                        <div class="card-body">
                            <div class="top-of-card">
                                <div class="title-author">
                                    <h5 class="card-title"><a href="{% url 'article_detail' article.id %}">{{article.title|truncatechars:50}}</a></h5>
                                    <h6 class="card-subtitle mb-2 text-muted author">-{{article.author}}</h6>
                                </div>
                                <div class="article-list-buttons">
                                    {% if article.author == user %}
                                    <a href="{% url 'article_edit' article.id %}" class="card-link">Edit</a>
                                    <a href="{% url 'article_delete' article.id %}" class="card-link" style="color: red;">Delete</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="article-info">
                                <p class="card-text">{{article.body|truncatechars:100}}</p>
                            </div>
                        </div>
                    </div>
                {% endif %} 
            {% endfor %}
        </div>
        <h1><a href="{% url 'local' %}">Local</a></h1>
        <div class="article-list-section">
            {% for article in article_list %}
                {% if article.category == 'Local' %}
                    <div class="card">
                        <div class="card-body">
                            <div class="top-of-card">
                                <div class="title-author">
                                    <h5 class="card-title"><a href="{% url 'article_detail' article.id %}">{{article.title|truncatechars:50}}</a></h5>
                                    <h6 class="card-subtitle mb-2 text-muted author">-{{article.author}}</h6>
                                </div>
                                <div class="article-list-buttons">
                                    {% if article.author == user %}
                                    <a href="{% url 'article_edit' article.id %}" class="card-link">Edit</a>
                                    <a href="{% url 'article_delete' article.id %}" class="card-link" style="color: red;">Delete</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="article-info">
                                <p class="card-text">{{article.body|truncatechars:100}}</p>
                            </div>
                        </div>
                    </div>
                {% endif %} 
            {% endfor %}
        </div>
        <h1><a href="{% url 'sports' %}">Sports</a></h1>
        <div class="article-list-section">
            {% for article in article_list %}
                {% if article.category == 'Sports' %}
                    <div class="card">
                        <div class="card-body">
                            <div class="top-of-card">
                                <div class="title-author">
                                    <h5 class="card-title"><a href="{% url 'article_detail' article.id %}">{{article.title|truncatechars:50}}</a></h5>
                                    <h6 class="card-subtitle mb-2 text-muted author">-{{article.author}}</h6>
                                </div>
                                <div class="article-list-buttons">
                                    {% if article.author == user %}
                                    <a href="{% url 'article_edit' article.id %}" class="card-link">Edit</a>
                                    <a href="{% url 'article_delete' article.id %}" class="card-link" style="color: red;">Delete</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="article-info">
                                <p class="card-text">{{article.body|truncatechars:100}}</p>
                            </div>
                        </div>
                    </div>
                {% endif %} 
            {% endfor %}
        </div>
        <h1><a href="{% url 'travel' %}">Travel</a></h1>
        <div class="article-list-section">
            {% for article in article_list %}
                {% if article.category == 'Travel' %}
                    <div class="card">
                        <div class="card-body">
                            <div class="top-of-card">
                                <div class="title-author">
                                    <h5 class="card-title"><a href="{% url 'article_detail' article.id %}">{{article.title|truncatechars:50}}</a></h5>
                                    <h6 class="card-subtitle mb-2 text-muted author">-{{article.author}}</h6>
                                </div>
                                <div class="article-list-buttons">
                                    {% if article.author == user %}
                                    <a href="{% url 'article_edit' article.id %}" class="card-link">Edit</a>
                                    <a href="{% url 'article_delete' article.id %}" class="card-link" style="color: red;">Delete</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="article-info">
                                <p class="card-text">{{article.body|truncatechars:100}}</p>
                            </div>
                        </div>
                    </div>
                {% endif %} 
            {% endfor %}
        </div>   
    </div>


{% endblock content %}