{% extends 'base.html' %}
{% block title %}Articles{% endblock title %} 

{% block content %} 
    <div class="article-list">
        {% for article in article_list %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <div class="article-list-buttons">
                    {% if article.author == user %}
                        <a href="{% url 'article_edit' article.id %}" class="card-link">Edit</a>
                    {% endif %}
                    <h5 class="card-title" style="text-align: center; "><a href="{% url 'article_detail' article.id %}">{{article.title}}</a></h5>
                    {% if article.author == user  %}
                        <a href="{% url 'article_delete' article.id %}" class="card-link" style="color: red;">Delete</a>
                    {% endif %}
                </div>
                <h6 class="card-subtitle mb-2 text-muted author">-{{article.author}}</h6>
                <p class="card-text">{{article.body|truncatechars:50}}</p>
            </div>
        </div>
    {% endfor %}
    </div>


{% endblock content %}