{% extends 'base.html' %} 

{% block title %}Home{% endblock title %} 

{% block content %}
<h1>Welcome to my News Site!</h1>
<p> This site was created as part of a project developed during the Full Stack Development Course at San Diego Global Knowledge University. It was used to showcase knowledge in Python and Django. This site includes account functionality for both readers and writers of articles. The read capability is accessible after signing up to the site, but the write capabilities are only accessible once an admin has included the users department. Categories are automatically filtered based off of the author's department and only an article's author or the admin can make changes or delete an article. This site has been formatted to work with both computers and mobile devices.  </p>
{% endblock content %}
